.env
.env.*
*.env
.sensitive_data
__pycache__/
implementations.py
.cache.ndjson
.cache_write.ndjson
.log.txt
log.txt
.logs.txt
logs.txt
test.py
.env.latest
.env.old
.env.temp
.env.clean
dump.rdb
*venv/
.venv
.hypothesis
.async_trace.html
.unity_plans
*.txt
parsed_results_output/
evals/
magnitude/
unity.egg-info/
*/node_modules*
*.soffice-profile*
.tmux_logs/
intranet/logs/
*:Zone.Identifier
assets/
discord_messages.md
.cursor/debug.log
logs/
