anticaptchaofficial
aiohttp>=3.8.0
autoflake
black
browser-use>=0.1.4
browserbase
deepgram-sdk>=4
# -e ../unify # dev mode
git+https://github.com/unifyai/unify.git # deploy mode
fastapi>=0.104.0
google-auth>=2.17.0
google-cloud-pubsub>=2.18.0
google-api-python-client==2.70.0
langchain-openai
langchain-anthropic
livekit-agents[deepgram,openai,cartesia,silero,elevenlabs,turn-detector]==1.2.11
livekit-plugins-noise-cancellation==0.2.5
openai>=1.0.0
playwright==1.52.0
psutil>=5.9.0
pyaudio>=0.2.11
pydantic>=2.0.0
pydantic-core>=2.0.0
pygments
pytest
pytest-html
python-dotenv>=1.0.0
redis
requests>=2.31.0
textual>=0.40.0
textual-dev>=1.2.0
twilio>=8.0.0
uvicorn[standard]>=0.24.0
hypothesis>=6.135.29
viztracer>=1.0.4

# Virtual devices and remote browser setup
websockify
sounddevice
soundfile
numpy
opencv-python
# pygobject==3.50.0

# Document parsing
langchain>=0.3.27
tiktoken>=0.11.0
docling>=2.49.0
spacy>=3.8.7

# Uncomment this based on your OS
# # Needed for Python Word COM automation (Windows only)
# pywin32>=306; platform_system == "Windows"

# # Wrapper around Microsoft Word (Windows/macOS only)
# docx2pdf>=0.1.8; platform_system == "Windows" or platform_system == "Darwin"

# Web search SDKs
tavily-python
